@page
@model PidProcessor.Web.Pages.PidValidationConfirmationModel

@{ ViewData["Title"] = "PID Vlidation Confirmation"; }

<h1 class="display-4 text-success">Your PID is valid</h1>
<p class="lead text-muted">according to the Bulgarian unique citizenship number <a href="https://en.wikipedia.org/wiki/Unique_citizenship_number">algorithm</a></p>

<p class="font-weight-bold">
    PID Information:
</p>
<p>
    Date of birth : <b class="text-muted">@Model.BirthDate.ToShortDateString()</b>
</p>
<p>
    Region: <b class="text-muted">@Model.Region</b>
</p>
<p>
    Birth order: <b class="text-muted">@Model.BirthOrder (@(Model.BirthOrder-1) people were born before)</b>
</p>

<p>
    Gender: <b class="text-muted">@Model.Gender</b>
</p>

<div>
    <a class="btn-primary btn" style="margin-top: 25px" asp-area="" asp-page="/validatePid">Validate another PID</a>
</div>
